{{>partials/header}}
<div class="digital">

   <div class="digital-row">
      <div class="digital-col responsive">
         <div class="digital-rectangle blue-rectangle">
             <div id="digital-circle-1" class="circle">
               <img src="/assets/images/image2.jpg" alt=""/>
             </div>
         </div>
          <div class="digital-rectangle rose-rectangle">
             <div id="digital-circle-2" class="circle"></div>
         </div>
          <div class="digital-rectangle yellow-rectangle">
             <div id="digital-circle-3" class="circle">
               <img src="/assets/images/image-icom.jpg" alt=""/>
             </div>
         </div>
      </div>
       <div class="digital-col flex-direction">
          <div class="digital-title">
               <h1>icom digital</h1>
               <p>Seu canal de atendimento personalizado  em libras.</p>
               <p>Torne seu chatbox acessível para surdos!</p>
          </div>
          <div class="digital-contact">
             <div class="digital-contact-title">
               <h3>automatize seu atendimento em Libras</h3>
             </div>
             {{>partials/form-components}}
          </div>
      </div>
   </div>
    <div class="border-align">
      <img src="/assets/images/border.png" alt="border.png"/>
    </div>
   <div class="digital-row-30">
       <div class="digital-title-2">
           <h1>Serviço de atendimento automático e interativo em Línguas de Sinais para surdos</h1>
       </div>
       <div class="digital-row-i">
            <div class="digital-col-i">
                <div class="digital-info">
                  <h4>como funciona?</h4>
                  <p>1. Escolha suas perguntas e respostas</p>
                  <h5>Nós acessibilizamos seu atendimento</h5>
                  <p>2. Escolha seu canal</p>
                  <h5>Chatbot, website, aplicativo? O ICOM Digital está em todos os lugares, 24/7</h5>
                  <p>3. Personalize seu atendimento</p>
                  <h5>Escolha seu interprete e personalize a interface para acessibilizar sua comunicação para surdos</h5>
                </div>
             </div>
             <div class="digital-col-i col-responsive">
                <div class="rectangle-group">
                   <div class="digital-rectangle rectangle-blue">   
                   </div>
                   <div class="digital-rectangle rectangle-yellow">
                   </div>
                   <div class="digital-rectangle rectangle-blue-2">
                      <div id="digital-circle-4" class="circle circle-blue-1"></div>
                   </div>
                    <div class="digital-rectangle rectangle-green">
                      <div id="digital-circle-5" class="circle circle-blue-2">
                        <img src="assets/images/app.jpg" alt="app.jpg"/>
                      </div>
                   </div>
                 </div>
             </div>
       </div>

        <div class="digital-row-i">
            <div class="digital-col-i">
                <div class="rectangle-group col-responsive">
                   <div class="digital-rectangle rectangle-blue-left"> 
                   <div id="digital-circle-6" class="circle circle-green"></div>  
                   </div>
                   <div class="digital-rectangle rectangle-blue-3">
                      <div id="digital-circle-7" class="circle circle-blue-2">
                        <img src="assets/images/image2.jpg" alt="image2.jpg"/>
                      </div>
                </div>
             </div>
             <div class="digital-col-i" style="padding: 30px">
                 <div class="digital-info">
                   <p>4. Conecte sua marca com o público surdo</p>
                   <h5>Precisou de um atendimento ao vivo? Faça o transbordo
                    do seu chatbot para seu atendente de forma rápida. 
                    Nós providenciamos um intérprete remoto em menos de 90 segundo</h5>
                   <p>5. Acompanhe suas conversas</p>
                   <h5>Chatbot, website, aplicativo? O ICOM Digital está em todos os lugares, 24/7</h5>
                   <p>3. Personalize seu atendimento</p>
                   <h5>Fique por dentro do engajamento do público surdo com sua marca. Acompanhe número de visitas, perguntas mais acessadas e todo histórico da conversa</h5>
                </div>
             </div>
       </div>
   </div>
   <div class="digital-i">
    <div class="border-align">
      <img src="/assets/images/border4.png" alt="border4.png"/>
    </div>
   <div class="digital-row-31">
      <div class="digital-col">
        <div class="balloon-info">
           <img src="assets/images/img-button.png" alt="img-button.jpg"/>
           <h5>por que o ICOM Digital?</h5>
      </div>
      </div>
       <div class="digital-col">
         <p>O ICOM é a principal ferramenta de comunicação inclusiva do mercado que
          conecta marcas com consumidores surdos. Com ICOM Digital, sua empresa consegue
           estar em compliance com o novo decreto do SAC, regulamentado pela N11.034 de 
           5 de Abril de 2022. Uma recurso acessível, digital, personalizado e de baixo custo.</p>
      </div>
   </div>
   </div>
 </div>
 {{>partials/social-components}}
 {{>partials/footer}}